/**
 *  andrewwei mu
 *  (c) Andrew Wei <andrewscwei@gmail.com>
 */

@import 'base/typography';
@import 'components/buttons';
@import 'modules/nav';

$base-path: '../../' !default;

@function screen-padding-top($screen:mobile)
{
    @if $screen == mobile       { @return $menu-button-width; }
    @else if $screen == phablet { @return $menu-button-width; }
    @else                       { @return 100px; }
}

@function screen-padding-bottom($screen:mobile)
{
    @if $screen == mobile       { @return $menu-button-width; }
    @else if $screen == phablet { @return $menu-button-width; }
    @else                       { @return 100px; }
}

@function screen-padding-left($screen:mobile)
{
    @if $screen == mobile       { @return #{$menu-button-width + 10px}; }
    @else if $screen == phablet { @return 10%; }
    @else                       { @return 20%; }
}

@function screen-padding-right($screen:mobile)
{
    @if $screen == mobile       { @return 20px; }
    @else if $screen == phablet { @return 10%; }
    @else                       { @return 20%; }
}

html,
body
{
    width: 100%;
    height: 100%;
    background-color: #222;
}

main
{
    width: 100%;
    height: auto;
    padding: screen-padding-top() screen-padding-right() screen-padding-bottom() screen-padding-left();
    display: block;
    position: relative;

    @include screen(phablet)
    {
        padding: screen-padding-top(phablet) screen-padding-right(phablet) screen-padding-bottom(phablet) screen-padding-left(phablet);
    }

    @include screen(tablet)
    {
        padding: screen-padding-top(tablet) screen-padding-right(tablet) screen-padding-bottom(tablet) screen-padding-left(tablet);
    }

    @include transition
    {
        transition: transform 0.2s ease-out;
    }

    @include state(unshifted, true)
    {
        transform: translate3d(0, 0, 0);
    }

    @include state(shifted)
    {
        transform: translate3d(#{$nav-width/2}, 0, 0);
    }
}
