/**
 *  andrewwei mu
 *  (c) Andrew Wei <andrewscwei@gmail.com>
 */

@import './mixins';

$base-path: '../../' !default;

$font-family-header: 'proxima-nova', sans-serif;
$font-weight-header-light: 100;
$font-weight-header-normal: 300;
$font-weight-header-bold: 600;

$font-family-content: 'proxima-nova', sans-serif;
$font-weight-content-light: 100;
$font-weight-content-normal: 300;
$font-weight-content-bold: 600;

span,
p,
li,
em,
h1,
h2,
h3,
h4,
h5,
h6,
button
{
    margin: 0px;
    padding: 0px;
    font-style: normal;
    text-align: inherit;
    list-style: none;
    color: inherit;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke: 0px;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    text-size-adjust: 100%;
}

p,
li,
span
{
    font-family: $font-family-content;
    font-weight: $font-weight-content-normal;
    font-size: 14px;
    line-height: 1.2em;
    color: #fff;

    & + p
    {
        margin-top: 20px;
    }
}

em
{
    font-size: inherit;
    font-weight: inherit;
}

h1
{
    font-family: $font-family-header;
    font-size: 40px;
    font-weight: $font-weight-header-light;
    line-height: 1.0em;
    text-align: left;
    color: #fff;
    display: inline-block;
    position: relative;

    @include screen(tablet)
    {
        font-size: 60px;
        line-height: 1.2em;
    }
}

h2
{
    font-family: $font-family-header;
    font-size: 36px;
    font-weight: $font-weight-header-normal;
    text-align: left;
    line-height: 1.2em;
    color: #666;
    display: block;
    position: relative;
}

h3
{
    margin: 0px;
    font-family: $font-family-header;
    font-weight: $font-weight-header-normal;
    font-size: 34px;
    text-align: center;
    line-height: 1.2em;
    color: #fff;
    display: block;
    position: relative;
}

h4
{
    font-family: $font-family-header;
    font-size: 24px;
    text-align: left;
    font-weight: $font-weight-header-light;
    color: #606060;
    line-height: 1.2em;
    display: block;
    position: relative;
}

h5
{
    font-family: $font-family-header;
    font-size: 14px;
    font-weight: $font-weight-header-light;
    color: #707070;
    line-height: 1.2em;
    text-align: left;
    display: block;
    position: relative;
}

h6
{
    width: 100%;
    color: #666;
    text-align: left;
    font-size: 18px;
    line-height: 1.4em;
    font-weight: $font-weight-header-light;
    display: inline-block;
    position: relative;
}

em
{
    font-style: italic;
}
