/**
 * andrewwei.mu
 * (c) Andrew Wei <andrewscwei@gmail.com>
 */

.log-styles
  word-wrap: break-word
  font-size: 1em

  hr
    margin: 60px auto
    width: 250px
    border: 0
    height: 1px
    background: #ddd
