/**
 * andrewwei.mu
 * (c) Andrew Wei <andrewscwei@gmail.com>
 */

.log-styles
  word-wrap: break-word
  font-size: 1em

  hr
    margin(60px auto)
    size(250px 1px)
    border: 0
    background: #ddd
