/**
 * andrewwei.mu
 * (c) Andrew Wei <andrewscwei@gmail.com>
 */

.log-styles
  h1
    margin: 60px 0 15px
    width: auto
    font-family: $font-family-header
    font-size: 3.125em
    font-weight: $font-weight-header-light
    line-height: 1.2em
    text-align: left
    color: #fff
    display: inline-block
    position: relative

  h2
    margin: 30px 0 15px
    font-family: $font-family-header
    font-size: 1.625em
    font-weight: $font-weight-header-light
    text-align: left
    line-height: 1.2em
    color: #fff
    display: block
    position: relative

    +screen('phablet')
      margin: 50px 0 15px
      font-size: 2.25em

  h3
    margin: 40px 0 10px
    font-family: $font-family-header
    font-weight: $font-weight-header-normal
    font-size: 1.5em
    text-align: left
    line-height: 1.2em
    color: #fff
    display: block
    position: relative

  h4
    margin: 40px 0 10px
    font-family: $font-family-header
    font-size: 1.25em
    font-weight: $font-weight-header-bold
    text-align: left
    color: #fff
    line-height: 1.2em
    display: block
    position: relative

  h5
    margin: 30px 0 10px
    padding-left: 20px
    font-family: $font-family-header
    font-size: 1.125em
    font-weight: $font-weight-header-bold
    color: #fff
    line-height: 1.2em
    border-left: 4px solid #fff
    text-align: left
    display: block
    position: relative

  h6
    margin: 30px 0 10px
    padding-left: 20px
    font-family: $font-family-header
    font-size: 1em
    font-weight: $font-weight-header-bold
    line-height: 1.4em
    color: #ccc
    text-align: left
    display: block
    position: relative

  p
    font-family: $font-family-content
    font-weight: $font-weight-content-normal
    font-size: 1em
    line-height: 1.4em
    color: #ccc

    +screen('desktop')
      font-size: 18px

  p,
  ol,
  ul
    & + p
      margin-top: 20px

  em
    font-size: inherit
    font-weight: inherit
    font-style: italic

  strong
    font-size: inherit
    font-weight: $font-weight-content-bold
    font-style: none

  a
    text-decoration: none

    &:hover
      text-decoration: underline

  blockquote
    margin: 20px 0 20px 40px
    padding: 30px
    background-color: #20b684
    border-radius: 4px
    display: block
    box-sizing: border-box

    +screen('tablet')
      margin: 20px 40px

    p
      font-size: 0.875em
      line-height: 1.4em
      color: #000

      +screen('desktop')
        font-size: 1em
