// (c) Andrew Wei

.log-styles
  img
    margin(50px auto)
    size(null auto)
    max-size(98% null)
    border-radius: 4px
    display: block
    position: relative

    & + br + em
      margin(-60px auto 60px)
      size(90% null)
      font($font-family-content, 0.875em, $font-weight-content-normal)
      line-height: 1.2em
      text-align: center
      color: #999
      display: block
      box-sizing: border-box
      position: relative
