// (c) Andrew Wei

.log-styles
  img
    border-radius: 4px
    display: block
    margin: 50px auto
    max-size: 98% none
    position: relative
    size: auto

    & + br + em
      set-font('sans-serif', 'xs', 'normal')
      box-sizing: border-box
      color: get-color('grey')
      display: block
      line-height: 1.2em
      margin: -60px auto 60px
      position: relative
      size: 90% auto
      text-align: center

    & + em
      set-font('sans-serif', 'xs', 'normal')
      box-sizing: border-box
      color: get-color('grey')
      display: block
      line-height: 1.2em
      margin: -40px auto 60px
      position: relative
      size: 90% auto
      text-align: center
