/**
 * andrewwei.mu
 * (c) Andrew Wei <andrewscwei@gmail.com>
 */
+labels()
  list-style: none

p,
li,
span
  font($font-family-content, 0.875em, $font-weight-content-normal)
  line-height: 1.2em
  color: #fff

  & + p
    margin-top: 20px

em
  font(null, inherit, inherit)
  font-style: italic

h1
  font($font-family-header, 2.5em, $font-weight-header-light)
  line-height: 1.0em
  text-align: left
  color: #fff
  display: inline-block
  position: relative

  +screen('>=tablet')
    font-size: 3.75em
    line-height: 1.2em

h2
  font($font-family-header, 2.25em, $font-weight-header-normal)
  text-align: left
  line-height: 1.2em
  color: #666
  display: block
  position: relative

h3
  font($font-family-header, 2.125em, $font-weight-header-normal)
  text-align: center
  line-height: 1.2em
  color: #fff
  display: block
  position: relative

h4
  font($font-family-header, 1.5em, $font-weight-header-light)
  text-align: left
  color: #606060
  line-height: 1.2em
  display: block
  position: relative

h5
  font($font-family-header, 0.875em, $font-weight-header-light)
  color: #707070
  line-height: 1.2em
  text-align: left
  display: block
  position: relative

h6
  font(null, 1.125em, $font-weight-header-light)
  width: 100%
  color: #666
  text-align: left
  line-height: 1.4em
  display: inline-block
  position: relative
