/**
 * andrewwei.mu
 * (c) Andrew Wei <andrewscwei@gmail.com>
 */
@include labels() {
  list-style: none;
}

p,
li,
span {
  font-family: $font-family-content;
  font-weight: $font-weight-content-normal;
  font-size: 0.875em;
  line-height: 1.2em;
  color: #fff;

  & + p {
    margin-top: 20px;
  }
}

em {
  font-size: inherit;
  font-weight: inherit;
}

h1 {
  font-family: $font-family-header;
  font-size: 2.5em;
  font-weight: $font-weight-header-light;
  line-height: 1.0em;
  text-align: left;
  color: #fff;
  display: inline-block;
  position: relative;

  @include screen('tablet') {
    font-size: 3.75em;
    line-height: 1.2em;
  }
}

h2 {
  font-family: $font-family-header;
  font-size: 2.25em;
  font-weight: $font-weight-header-normal;
  text-align: left;
  line-height: 1.2em;
  color: #666;
  display: block;
  position: relative;
}

h3 {
  margin: 0;
  font-family: $font-family-header;
  font-weight: $font-weight-header-normal;
  font-size: 2.125em;
  text-align: center;
  line-height: 1.2em;
  color: #fff;
  display: block;
  position: relative;
}

h4 {
  font-family: $font-family-header;
  font-size: 1.5em;
  text-align: left;
  font-weight: $font-weight-header-light;
  color: #606060;
  line-height: 1.2em;
  display: block;
  position: relative;
}

h5 {
  font-family: $font-family-header;
  font-size: 0.875em;
  font-weight: $font-weight-header-light;
  color: #707070;
  line-height: 1.2em;
  text-align: left;
  display: block;
  position: relative;
}

h6 {
  width: 100%;
  color: #666;
  text-align: left;
  font-size: 1.125em;
  line-height: 1.4em;
  font-weight: $font-weight-header-light;
  display: inline-block;
  position: relative;
}

em {
  font-style: italic;
}
