<svg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0' y='0'
     width='70%' height='70%' viewBox='0 0 236 136' enable-background='new 0 0 236 136' preserveAspectRatio='xMidYMid' xml:space='preserve'>
    <g class='dots'>
        <circle fill='#FFFFFF' cx='18' cy='18' r='18'/>
        <circle fill='#FFFFFF' cx='18' cy='68' r='18'/>
        <circle fill='#FFFFFF' cx='18' cy='118' r='18'/>
        <circle fill='#FFFFFF' cx='118' cy='18' r='18'/>
        <circle fill='#FFFFFF' cx='118' cy='68' r='18'/>
        <circle fill='#FFFFFF' cx='118' cy='118' r='18'/>
        <circle fill='#FFFFFF' cx='218' cy='18' r='18'/>
        <circle fill='#FFFFFF' cx='218' cy='68' r='18'/>
        <circle fill='#FFFFFF' cx='218' cy='118' r='18'/>
        <circle fill='#FFFFFF' cx='68' cy='18' r='18'/>
        <circle fill='#FFFFFF' cx='168' cy='118' r='18'/>
    </g>
</svg>
