/**
 *  andrewwei.mu
 *  (c) Andrew Wei <andrewscwei@gmail.com>
 */

@import 'base/typography';

$base-path: '../';

div.hashtags
{
    padding: 10px 0px;

    a.hashtag
    {
        margin: 3px 0px;

        &:not(:last-child)
        {
            margin-right: 10px;
        }
    }
}
