/**
 *  andrewwei.mu
 *  (c) Andrew Wei <andrewscwei@gmail.com>
 */

$base-path: '../';
$menu-button-width: 56px;
$menu-button-height: 46px;

button.menu
{
    margin: 0px;
    padding: 0px;
    width: $menu-button-width;
    height: $menu-button-height;
    background-color: #000;
    text-align: center;

    svg circle
    {
        fill: #fff;
    }

    @include transition
    {
        transition: background-color 0.2s ease-out;

        svg circle
        {
            transition: fill 0.2s ease-out;
        }
    }

    @include state(active hover)
    {
        background-color: #fff;

        svg circle
        {
            fill: #000;
        }
    }
}

button.return
{
    margin: 0px;
    padding: 0px;
    width: $menu-button-width;
    height: $menu-button-height;
    background-color: #fff;
    text-align: center;
    display: inline-block;
    position: relative;

    svg rect
    {
        fill: #000;
    }

    @include transition
    {
        transition-property: opacity, transform, background-color;
        transition-duration: 0.2s;
        transition-timing-function: ease-out;

        svg rect
        {
            transition: fill 0.2s ease-out;
        }
    }

    @include state(hover)
    {
        background-color: #000;

        svg rect
        {
            fill: #fff;
        }
    }
}