/**
 * andrewwei.mu
 * (c) Andrew Wei <andrewscwei@gmail.com>
 */

section.results
  summary
    margin(0 auto)
    size(100% null)
    max-size(980px null)
    text-align: center
    display: block
    position: relative

    p
      line-height: 2em

section.posts
  summary.post
    margin(40px auto)
    size(100% null)
    max-size(980px null)
    transition(transform opacity, 0.4s, ease-out)

    +state('hidden', true)
      transform: translate3d(0, 30px, 0)
      opacity: 0.0

    +state('visible')
      transform: translate3d(0, 0, 0)
      opacity: 1.0

    a.number-tag
      align('left' -40px null, 'top', 'absolute')

    h1
      margin(0 0 15px)
      size(auto null)
      max-size(100% null)
      font($font-family-header, 2.25em, $font-weight-header-light)
      line-height: 1.2em
      text-align: left
      color: #fff
      display: inline-block
      position: relative

      +screen('tablet')
        max-size(80% null)
        font($size:3.125em)

    .content
      margin(20px 0)

  hr
    margin(60px 0)
    size(40% 1px)
    border: 0
    background: rgba(255, 255, 255, 0.03)

  span.date
    font($font-family-content, 1em, $font-weight-header-normal)
    color: #666
    display: block
    line-height: 1.2em
