/**
 *  andrewwei mu
 *  (c) Andrew Wei <andrewscwei@gmail.com>
 */

@import '../../base/mixins';
@import '../../base/typography';

$base-path: '../../../' !default;

.log-styles
{
    code
    {
        padding: 3px;
        font-family: monospace;
        font-size: 16px;
        background-color: #272822;
        border-radius: 4px;
        word-break: break-all;
        display: inline-block;
        color: #fff;
        position: relative;

        span
        {
            font-family: inherit;
        }
    }

    pre
    {
        margin: 20px 0px;

        code
        {
            padding: 20px;
            width: 100%;
            word-wrap: normal;
            box-sizing: border-box;
            display: block;
            -webkit-overflow-scrolling: touch;
            overflow-x: scroll;
        }
    }

    .MathJax
    {
        span
        {
            font-size: 22px;
            color: #fff;
        }

        padding: 4px;
        background-color: #272822;
        border-radius: 4px;
    }

    .MathJax_Display
    {
        margin: 20px 0px;

        .MathJax
        {
            padding: 20px;
            width: 100%;
            text-align: center;
            word-wrap: normal;
            box-sizing: border-box;
            display: block;
            -webkit-overflow-scrolling: touch;
            overflow-x: scroll;
        }
    }
}