/**
 * (c) Andrew Wei
 */

a
  &,
  &.underline
    font(inherit, inherit, inherit)
    color: #20b684
    text-align: inherit
    line-height: inherit
    text-decoration: none

    +state('hover')
      text-decoration: underline
      cursor: pointer

  &.fade
    transition(opacity, 0.4s, ease-out)

    +state('hover')
      opacity: 0.4
      text-decoration: none

a.social
  @extend a.fade
  size($social-anchor-diameter)
  background-repeat: no-repeat
  background-size: contain
  background-position: center
  display: inline-block
  position: relative

  &.github
    background-image: url($base-path+'images/github-logo.svg')

  &.twitter
    background-image: url($base-path+'images/twitter-logo.svg')

  &.linkedin
    background-image: url($base-path+'images/linkedin-logo.svg')

a.hashtag
  @extend a.fade
  padding(8px 10px)
  size(auto);
  font($font-family-content, 14px, $font-weight-content-bold)
  color: #666
  background-color: #000
  border-radius: 4px
  line-height: 1em
  display: inline-block
  position: relative

  +state('active')
    color: #fff
    background-color: #f92672

a.read-more,
a.reset
  padding(8px 10px)
  size(auto)
  font($font-family-content, 16px, $font-weight-content-normal)
  transition(background-color color, 0.2s ease-out)
  color: #000
  border-radius: 4px
  line-height: 1em
  background-color: #fff
  display: inline-block
  position: relative

  +state('hover')
    background-color: #000
    color: #fff
    text-decoration: none

a.cover
  size(100% 150px)
  overflow(hidden)
  margin(20px 0)
  display: block
  border-radius: 4px
  position: relative

  +screen('>=phablet')
    height: 300px

  figure.cover
    size(100%)
    transition(transform, 0.4s, ease-out)
    background-repeat: no-repeat
    background-size: cover
    background-position: center
    transform: scale(1)
    position: relative

    &:before
      size(100%)
      transition(background-color, 0.4s, ease-out)
      background-color: rgba(34, 34, 34, 0.4)
      content: ''
      display: block
      position: relative

  +state('hover')
    figure.cover
      transform: scale(1.1)

      &:before
        background-color: rgba(34, 34, 34, 0.0)

a.number-tag
  align('center', 'center', 'inline')
  size(25px)
  font($font-family-header, 16px, $font-weight-header-normal)
  pointable(false)
  text-align: center
  line-height: 25px
  border-radius: 4px
  color: #333
  background-color: #fff
  display: inline-block

span.deprecated
  align('center', 'center', 'inline')
  margin(0 10px)
  padding(0 10px)
  size(null 30px)
  font($font-family-content, 16px, $font-weight-content-normal)
  pointable(false)
  text-align: left
  line-height: 30px
  border-radius: 4px
  color: #fff
  background-color: #f92672
  display: inline-block

  &:after
    content: 'Deprecated'

a.paginator
  edge(null null $paginator-anchor-offset-y null)
  margin(0)
  padding(0)
  size(auto $paginator-anchor-height)
  font($font-family-content, null, $font-weight-content-normal)
  box-sizing: border-box
  display: inline-block
  position: fixed

  span.number,
  span.label
    align('center', 'top', 'inline')
    padding(0 8px)
    size(null 100%)
    font(inherit, 16px, inherit)
    color: inherit
    line-height: $paginator-anchor-height
    box-sizing: border-box
    display: block
    float: left
    position: relative

  span.number
    size($paginator-anchor-number-width null)
    color: #fff
    background-color: #111

  &.newer,
  &.older
    size(($paginator-anchor-number-width + $paginator-anchor-label-width) null)
    color: #333
    background-color: #fff
    z-index: 1

    span.label
      size($paginator-anchor-label-width null)

  &.newer
    left: 0

    span.number
      text-align: right

    span.label
      text-align: left

    +state('hidden', true)
      transform: translate3d(-$paginator-anchor-number-width - $paginator-anchor-label-width, 0, 0)

  &.older
    right: 0

    span.number
      text-align: left

    span.label
      text-align: right

    svg
      transform: rotate(180deg)

    +state(hidden, true)
      transform: translate3d($paginator-anchor-number-width + $paginator-anchor-label-width, 0, 0)

  &.newest,
  &.oldest
    size($paginator-anchor-label-long-width null)
    color: #fff
    background-color: #000
    z-index: 0

    span.label
      width: inherit

  &.newest
    left: $paginator-anchor-number-width + $paginator-anchor-label-width
    text-align: left

    +state(hidden, true)
      transform: translate3d(-$paginator-anchor-label-long-width, 0, 0)

  &.oldest
    right: $paginator-anchor-number-width + $paginator-anchor-label-width
    text-align: right

    +state(hidden, true)
      transform: translate3d($paginator-anchor-label-long-width, 0, 0)

  transition(transform opacity, 0.2s, ease-out)

  +state('hidden', true)
    opacity: 0.0
    pointer-events: none

  +state('visible')
    opacity: 1.0
    transform: translate3d(0, 0, 0)
    pointer-events: auto

  +state('hover')
    opacity: 0.4
