/**
 * andrewwei.mu
 * (c) Andrew Wei <andrewscwei@gmail.com>
 */

button.menu
  transition(background-color, 0.2s, ease-out)
  width: $menu-button-width
  height: $menu-button-height
  background-color: #000
  text-align: center

  svg
    vertical-align: middle

    circle
      fill: #fff

    svg circle
      transition(fill, 0.2s, ease-out)

  +state(active hover)
    background-color: #fff

    svg circle
      fill: #000

button.return
  size($menu-button-width $menu-button-height)
  transition(opacity transform background-color, 0.2s, ease-out)
  background-color: #fff
  text-align: center
  display: inline-block
  position: relative

  svg rect
    fill: #000

    svg rect
      transition(fill, 0.2s, ease-out)

  +state('hover')
    background-color: #000

    svg rect
      fill: #fff
