/**
 *  andrewwei.mu
 *  (c) Andrew Wei <andrewscwei@gmail.com>
 */

@import 'base/typography';

$base-path: '../../../../' !default;

.log-styles
{
    word-wrap: break-word;
    font-size: 16px;

    hr
    {
        margin: 60px auto;
        width: 250px;
        border: 0;
        height: 1px;
        background: #ddd;
    }
}
