/**
 *  andrewwei mu
 *  (c) Andrew Wei <andrewscwei@gmail.com>
 */

@import 'base/typography';

$base-path: '../../../../' !default;

.log-styles
{
    li
    {
        font-family: $font-family-content;
        font-weight: $font-weight-content-normal;
        font-size: 16px;
        line-height: 1.6em;
        color: #ccc;

        @include screen(desktop)
        {
            font-size: 18px;
        }
    }

    ol, ul
    {
        margin: 30px 10px;
        padding: 0px 0px 0px 20px;
        list-style: decimal;

        @include screen(tablet)
        {
            padding: 0px 20px;
        }

        @include screen(desktop)
        {
            padding: 0px 40px;
        }

        ol, ul
        {
            margin: 0px;
        }

        li
        {
            list-style: inherit;
        }
    }

    ol { list-style: decimal; }
    ol ol, ul ol { list-style: lower-alpha; }
    ol ol ol, ul ol ol, ol ul ol, ul ul ol { list-style: lower-roman; }
    ul { list-style: disc; }
    ul ul, ol ul { list-style: circle; }
    ul ul ul, ol ul ul, ul ol ul, ol ol ul { list-style: square; }
}
