/**
 *  andrewwei mu
 *  (c) Andrew Wei <andrewscwei@gmail.com>
 */

@import 'base/typography';

$base-path: '../../../../' !default;

.log-styles
{
    h1
    {
        margin: 60px 0px 15px 0px;
        width: auto;
        font-family: $font-family-header;
        font-size: 50px;
        font-weight: $font-weight-header-light;
        line-height: 1.2em;
        text-align: left;
        color: #fff;
        display: inline-block;
        position: relative;
    }

    h2
    {
        margin: 30px 0px 15px 0px;
        font-family: $font-family-header;
        font-size: 26px;
        font-weight: $font-weight-header-light;
        text-align: left;
        line-height: 1.2em;
        color: #fff;
        display: block;
        position: relative;

        @include screen(phablet)
        {
            margin: 50px 0px 15px 0px;
            font-size: 36px;
        }
    }

    h3
    {
        margin: 40px 0px 10px 0px;
        font-family: $font-family-header;
        font-weight: $font-weight-header-normal;
        font-size: 24px;
        text-align: left;
        line-height: 1.2em;
        color: #fff;
        display: block;
        position: relative;
    }

    h4
    {
        margin: 40px 0px 10px 0px;
        font-family: $font-family-header;
        font-size: 20px;
        font-weight: $font-weight-header-bold;
        text-align: left;
        color: #fff;
        line-height: 1.2em;
        display: block;
        position: relative;
    }

    h5
    {
        margin: 30px 0px 10px 0px;
        padding-left: 20px;
        font-family: $font-family-header;
        font-size: 18px;
        font-weight: $font-weight-header-bold;
        color: #fff;
        line-height: 1.2em;
        border-left: 4px solid #fff;
        text-align: left;
        display: block;
        position: relative;
    }

    h6
    {
        margin: 30px 0px 10px 0px;
        padding-left: 20px;
        font-family: $font-family-header;
        font-size: 16px;
        font-weight: $font-weight-header-bold;
        line-height: 1.4em;
        color: #ccc;
        text-align: left;
        display: block;
        position: relative;
    }

    p
    {
        font-family: $font-family-content;
        font-weight: $font-weight-content-normal;
        font-size: 16px;
        line-height: 1.6em;
        color: #ccc;

        @include screen(desktop)
        {
            font-size: 18px;
        }
    }

    p, ol, ul
    {
        & + p
        {
            margin-top: 20px;
        }
    }

    em
    {
        font-size: inherit;
        font-weight: inherit;
        font-style: italic;
    }

    strong
    {
        font-size: inherit;
        font-weight: $font-weight-content-bold;
        font-style: none;
    }

    a
    {
        color: #f92672;
        text-decoration: none;

        &:hover
        {
            text-decoration: underline;
        }
    }

    blockquote
    {
        margin: 20px 40px;
        padding: 30px 30px;
        // background-color: #111;
        background-color: #2c2c2c;
        border-radius: 4px;
        display: block;
        box-sizing: border-box;

        p
        {
            font-size: 14px;
            line-height: 1.4em;
            color: #999;

            @include screen(desktop)
            {
                font-size: 16px;
            }
        }
    }
}
