// (c) Andrew Wei

section.results
  summary
    margin: 0 auto
    max-size: 980px none
    size: 100% auto
    text-align: center

section.posts
  summary.post
    margin: 40px auto
    max-size: 980px none
    size: 100% auto
    transition: (transform opacity) .4s ease-out

    +state('hidden', true)
      opacity: 0
      transform: translate3d(0, 30px, 0)

    +state('visible')
      opacity: 1.0
      transform: translate3d(0, 0, 0)

    +button-class('number-tag')
      align: 'left' 'top'
      edge: x x x -40px

    +links()
      text-decoration: none

      h1
        transition: opacity 0.4s ease-out

      +state('hover')
        h1
          opacity: .6

    h1
      set-font('sans-serif', 'l', 'light')
      color: get-color('true-white')
      line-height: 1.2em
      margin: 0 0 15px
      max-size: 100% none
      text-align: left

      +screen('>=tablet')
        max-size(80% null)
        font($size:3.125em)

    .content
      margin(20px 0)

  hr
    border: 0
    background: get-color('true-white', .03)
    margin: 60px 0
    size: 40% 1px

  span.date
    color: get-color('dark-grey')
