<nav id="nav">
    <section class="control">
        <button class="menu">
            {% include logo.html %}
        </button>
        <!-- <h2>\{{ include.node | upcase }}</h2> -->
    </section>
    <section class="panel">
        <ol>
            {% for node in site.data.nav %}
                {% if node.name != include.node %}
                    <a href="{{ node.url }}">
                {% endif %}
                        <li {% if node.name == include.node %}class="state-active"{% endif %}>{{ node.name | capitalize }}</li>
                {% if node.name != include.node %}
                    </a>
                {% endif %}
            {% endfor %}
        </ol>
        <aside>
            <a class="social twitter" href="https://www.twitter.com/{{ site.data.social.twitter }}"></a>
            <a class="social linkedin" href="https://www.linkedin.com/in/{{ site.data.social.linkedin }}"></a>
            <p>{{ site.data.social.bio }}</p>
        </aside>
    </section>
</nav>