<nav id='nav' data-vs-controller='components.Nav'>
    <section class='controls' vs-instance='controls'>
        <button class='menu' vs-instance='switch'>
            {% include svgs/logo.html %}
        </button>
        {% if page.return != nil %}
            <a href='{{ page.return }}'>
                <button class='return' vs-instance='return'>
                    {% include svgs/return.html %}
                </button>
            </a>
        {% endif %}
    </section>
    <section class='panel'>
        <ol>
            {% for node in site.data.nav %}
                <a href='{{ node.url }}'>
                    <li {% if node.name == page.node %}class='state-active'{% endif %}>{{ node.name | capitalize }}</li>
                </a>
            {% endfor %}
        </ol>
        <aside>
            <a class='social github' href='https://www.github.com/{{ site.data.social.github }}'></a>
            <a class='social twitter' href='https://www.twitter.com/{{ site.data.social.twitter }}'></a>
            <a class='social linkedin' href='https://www.linkedin.com/in/{{ site.data.social.linkedin }}'></a>
            <p>{{ site.data.social.bio }}</p>
        </aside>
    </section>
</nav>
