/**
 * andrewwei.mu
 * (c) Andrew Wei <andrewscwei@gmail.com>
 */

nav#nav {
  @include fixed-align();
  width: auto;
  height: 100%;
  background-color: transparent;
  z-index: 20;

  @include transition {
    transition: transform 0.2s ease-out;
  }

  @include state(collapsed, true) {
    transform: translate3d(#{-$nav-width}, 0, 0);
  }

  @include state(expanded) {
    transform: translate3d(0, 0, 0);
  }

  section.controls {
    @include abs-align('left' $nav-width, 'top' $nav-offset-y);
    width: $menu-button-width;
    height: auto;

    button.menu {
      z-index: 1;

      svg {
        pointer-events: none;
      }
    }

    button.return {
      transform: translate3d(#{-$menu-button-width}, 0, 0);
      opacity: 0.0;
      z-index: 0;
    }

    @include state('returnable') {
      button.return {
        transform: translate3d(0, 0, 0);
        opacity: 1.0;
      }
    }
  }

  section.panel {
    @include abs-align('left', 'top');
    width: $nav-width;
    height: 100%;
    background-color: #fff;

    ol {
      @include abs-align(left, top);
      padding: 60px 0;
      width: 100%;
      height: auto;

      li {
        padding: 5px 20px;
        width: 100%;
        font-weight: $font-weight-content-normal;
        font-size: 1em;
        color: #000;
        border-left: 4px inset rgba(0, 0, 0, 0);
        display: block;
        position: relative;

        @include transition {
          transition: opacity 0.2s ease-out, border-left-color 0.2s ease-out;
        }

        @include state(active) {
          border-left: 4px inset rgba(0, 0, 0, 1);
        }
      }

      a {
        @include state(hover) {
          text-decoration: none;

          li {
            opacity: 0.6;
          }
        }
      }
    }

    aside {
      @include abs-align('left', 'bottom');
      padding: 40px 30px;
      width: 100%;
      height: auto;

      img.gravatar {
        @include diameter(60px, true);
        margin: 10px 10px 10px 0;
        display: inline-block;
        position: relative;
      }

      a {
        &.social {
          margin: 10px 0;

          &:not(:last-child) {
            margin-right: 8px;
          }
        }
      }

      p {
        font-size: 0.875em;
        color: #000;
      }
    }
  }
}
