// (c) Andrew Wei

$base-path = '../../assets'

$social-anchor-diameter = 20px
$paginator-anchor-height = 30px
$paginator-anchor-number-width = 30px
$paginator-anchor-label-width = 30px
$paginator-anchor-label-long-width = 70px
$paginator-anchor-offset-y = 0

$menu-button-width = 56px
$menu-button-height = 46px

get-z($index='base')
  if $index == 'base'
    return 0;
  else if $index == 'content'
    return 1
  else if $index == 'local-nav'
    return 10
  else if $index == 'global-nav'
    return 100
  else
    return $index
