// (c) Andrew Wei

$font-family-header = 'proxima-nova', sans-serif
$font-weight-header-light = 100
$font-weight-header-normal = 300
$font-weight-header-bold = 600

$font-family-content = 'proxima-nova', sans-serif
$font-weight-content-light = 100
$font-weight-content-normal = 300
$font-weight-content-bold = 600

$social-anchor-diameter = 20px
$paginator-anchor-height = 30px
$paginator-anchor-number-width = 30px
$paginator-anchor-label-width = 30px
$paginator-anchor-label-long-width = 70px
$paginator-anchor-offset-y = 0

$menu-button-width = 56px
$menu-button-height = 46px

$nav-width = 230px
$nav-offset-y = 0
