// (c) Andrew Wei

$font-size-extra-small = 14px
$font-size-small = 18px
$font-size-medium = 24px
$font-size-large = 34px //
$font-size-extra-large = 56px

$font-family-header = 'proxima-nova', sans-serif
$font-weight-header-light = 100
$font-weight-header-normal = 300
$font-weight-header-bold = 600

$font-family-content = 'proxima-nova', sans-serif
$font-weight-content-light = 100
$font-weight-content-normal = 300
$font-weight-content-bold = 600

get-font-family($type='sans-serif')
  return $font-family-content

get-font-weight($type='normal')
  if $type == 'light'
    return 100
  if $type == 'normal'
    return 300
  if $type == 'bold'
    return 600
  return $type

set-font($family='sans-serif', $size='default', $weight='normal')
  font-family: get-font-family($family)
  font-size: get-font-size($size)
  font-weight: get-font-weight($weight)

+labels('body')
  set-font('sans-serif', 'default')
  color: get-color('true-white')
  line-height: 1.6em

  + p
    margin-top: 20px

+list-items()
  set-font('sans-serif', 'default')
  line-height: 1.6em

+links()
  color: get-color('green')
  line-height: inherit
  text-align: inherit
  text-decoration: none

  +state('hover')
    text-decoration: underline

em
  font-style: italic

h1
  set-font('sans-serif', 'l', 'light')
  color: get-color('true-white')
  line-height: 1.2em
  text-align: left

  +screen('>=tablet')
    set-font('sans-serif', 'xl', 'light')

h2
  set-font('sans-serif', 'l')
  color: get-color('dark-grey')
  line-height: 1.6em
  text-align: left

h3
  set-font('sans-serif', 'l')
  color: get-color('true-white')
  line-height: 1.2em
  text-align: center

h4
  set-font('sans-serif', 'm', 'light')
  color: get-color('dark-grey')
  line-height: 1.4em
  text-align: left

h5
  set-font('sans-serif', 'xs', 'light')
  color: get-color('dark-grey')
  line-height: 1.2em
  text-align: left

h6
  set-font('sans-serif', 's', 'light')
  color: get-color('dark-grey')
  line-height: 1.4em
  text-align: left
