---
layout: default
---

<main id='posts' class='posts' data-class='Posts' data-instance='body'>
  {% if page.tag == nil %}
    <!-- Determine the source of the posts by the tag that is received. -->
    {% assign posts = paginator.posts %}

    <!-- Determine the total number of posts displayed. -->
    {% capture num_posts = %}{{ posts | size }}{% endcapture %}

    <!-- Determine the starting ID. -->
    {% capture start_id %}{{ paginator.page | minus:1 | times:paginator.per_page }}{% endcapture %}

    <!-- Determine the ending ID. -->
    {% capture end_id %}{{ start_id | plus:num_posts }}{% endcapture %}
  {% else %}
    <!-- Determine the source of the posts by the tag that is received. -->
    {% assign posts = site.posts %}

    <!-- Determine the total number of posts displayed. -->
    {% assign num_posts = 0 %}
    {% for post in posts %}
      {% if page.tag == nil or post.tags contains page.tag %}
        {% capture num_posts %}{{ num_posts | plus:1 }}{% endcapture %}
      {% endif %}
    {% endfor %}

    <!-- Determine the starting ID. -->
    {% capture start_id %}{{ 0 }}{% endcapture %}

    <!-- Determine the ending ID. -->
    {% capture end_id %}{{ id | plus:num_posts }}{% endcapture %}
  {% endif %}

  <!-- Display number of posts. -->
  <section class='results'>
    <summary>
      {% if page.tag == nil %}
        {% if num_posts == 1%}
          <p>Displaying post <a type='button' class='number-tag'>{{ start_id | plus:1 }}</a></p>
        {% else %}
          <p>Displaying posts <a type='button' class='number-tag'>{{ start_id | plus:1 }}</a> to <a type='button' class='number-tag'>{{ end_id }}</a> out of <a type='button' class='number-tag'>{{ paginator.total_posts }}</a>
        {% endif %}
      {% else %}
        {% if num_posts == 1 %}
          <p>Displaying {{ num_posts }} post for <a type='button' class='hashtag' data-state='active' href='/log/{{ page.tag }}'>#{{ page.tag }}</a></p>
        {% else %}
          <p>Displaying {{ num_posts }} posts for <a type='button' class='hashtag' data-state='active' href='/log/{{ page.tag }}'>#{{ page.tag }}</a></p>
        {% endif %}
        <p><a type='button' class='reset' href='/log'>Reset</a></p>
      {% endif %}
    </summary>
  </section>

  <section class='posts'>
    {% capture id %}{{ start_id | plus:1 }}{% endcapture %}
    {% for post in posts %}
      {% if page.tag == nil or post.tags contains page.tag %}
        <summary class='post' data-instance='posts'>
          <a type='button' class='number-tag'>{{ id }}</a>
          <aside>
            <a href='{{ post.url }}'><h1>{{ post.title | upcase }}{% if post.deprecated == true %}<span class='deprecated'></span>{% endif %}</h1></a>
            <span type='label' class='date'>{{ post.date | date_to_long_string }}</span>

            {% include hashtags.html tags=post.tags %}

            {% if post.cover != nil %}
              <a class='cover' href='{{ post.url }}'><figure class='cover' style='background-image:url({{ post.cover }});'></figure></a>
            {% endif %}

            <div class='content log-styles'>
              {{ post.content | truncatewords:120 }}
            </div>
          </aside>
          <a type='button' class='read-more' href='{{ post.url }}'>Continue reading</a>
          <hr/>
        </summary>
        {% capture id %}{{ id | plus:1 }}{% endcapture %}
      {% endif %}
    {% endfor %}
  </section>
</main>

{% if page.tag == nil %}
  {% include paginator.html %}
{% endif %}
