// (c) Andrew Wei

#page-playground
  flex-block($wrap:true)
  padding: 50px
  size: 100%

  section.bio
    +label-class('title')
      set-font('sans-serif', 'l', 'light')
      color: get-color('true-white')
      display: inline
      line-height: 1.6em
      opacity: 0
      transform: translate3d(0, 30px, 0)
      transition (opacity transform) .4s ease-out (.2s 0s)

      +screen('>=tablet')
        set-font('sans-serif', 'xl', 'light')

    +label-class('sub-title')
      color: get-color('dark-grey')
      opacity: 0
      text-align: left
      transform: translate3d(0, 30px, 0)
      transition: (opacity transform) .4s ease-out

    +state('active')
      +label-class('title')
        opacity: 1.0
        transform: translate3d(0, 0, 0)

      +label-class('sub-title')
        opacity: 1.0
        transform: translate3d(0, 0, 0)

      aside
        opacity: 1.0
        transform: translate3d(0, 0, 0)

    aside
      margin: 10px 0
      max-size: 400px none
      opacity: 0
      size: 80% auto
      transition: opacity .4s ease-out .6s

      &.social
        +button-class('social')
          &:not(:last-child)
            margin-right: 10px
